/* App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header, .main, .footer {
  width: 100%;
}

.text-view, .model-view {
  width: 50%;
  float: left;
}

.text-view pre {
  font-family: 'Courier New', monospace;
}
